<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="scarlet-user"/>
    <springProperty scope="context" name="lokiUrl"  source="loki.url"               defaultValue="http://loki:3100"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{traceId},%X{spanId}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${lokiUrl}/loki/api/v1/push</url>
            <connectionTimeoutMs>5000</connectionTimeoutMs>
            <requestTimeoutMs>5000</requestTimeoutMs>
        </http>
        <format>
            <label>
                <pattern>service=${appName},host=${HOSTNAME},level=%level</pattern>
                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>
                    {
                      "timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}",
                      "level": "%level",
                      "logger": "%logger{36}",
                      "thread": "%thread",
                      "traceId": "%X{traceId:-}",
                      "spanId":  "%X{spanId:-}",
                      "message": "%message",
                      "exception": "%ex{full}"
                    }
                </pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
        <dropOnQueueFull>true</dropOnQueueFull>
        <sendQueueMaxBytes>41943040</sendQueueMaxBytes>
        <batchMaxItems>1000</batchMaxItems>
        <batchTimeoutMs>5000</batchTimeoutMs>
    </appender>

    <appender name="LOKI_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="LOKI"/>
        <queueSize>8192</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>false</includeCallerData>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI_ASYNC"/>
    </root>

    <logger name="org.springframework"              level="WARN"/>
    <logger name="org.hibernate"                    level="WARN"/>
    <logger name="com.zaxxer.hikari"                level="INFO"/>
    <logger name="io.micrometer"                    level="INFO"/>
    <logger name="com.github.loki4j"                level="WARN"/>

</configuration>
